<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/blog.css">
    <title>Blog Admin</title>
</head>
<body>
    <nav class="navbar">
        <div class="max-width">
            <div class="logo"><a href="../blog">Portfolio</a></div>
        </div>
    </nav>
        <div class="container">
            <div class="blog-header">
                <h1 class="blog-title">Blog Admin</h1>
                <h4 class="blog-description">Read articles about my coding experiences
                    or projects.
                </h3>
            </div>
            <section class="container-articles">
                <div class="max-width">
                    <div class="admin-panel">
                        <a class="new-btn" href="/blog/new">New Post</a>
                        <form class="logout" action="/blog/logout/" action="POST">
                            <button id="logout-btn" type="submit">Logout</button>
                        </form>
                    </div>
                    <hr>
                    <div class="articles">
                        <% articles.forEach(article => { %> 
                            <div class="card">
                                <div class="card-body">
                                    <h4 class="card-title"><%= article.title %></h4>
                                    <div class="card-date"><%= article.createdAt.toLocaleDateString() %></div>
                                    <div class="card-description"><%= article.description%></div>
                                    <a class="read-more" href="/blog/<%= article.slug %>">Read Article</a>
                                    <div class="admin-btns">
                                        <a class="edit" href="/blog/edit/<%= article.id %>">Edit</a>
                                        <form action="/blog/<%= article.id %>?_method=DELETE" method="POST" class="delete">
                                            <button type="submit">Delete</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        <% }) %>
                        </div>
                </div>
            </section>
    </div>
</body>
</html>